* {
	box-sizing: border-box;
}

#canvas canvas {
	position: absolute;
	top: 0;
	left: 0;
}

body > div {
	float: left;
	width: 45%;
}

#canvas {
	height: 500px;
	width: 500px;
}

#userinfo {
	list-style-type: none;
}

#userinfo > li > div {
	padding: 10px;
}

.color {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	display: inline-block;
	position: relative;
	top: 5px;
}

.name {
	font-family: Arial, Helvetica, sans-serif;
}

.score {
	margin-left: 10px;
}

.messageUI {
	margin-top: 10px;
}

#message {
	color: red;
	font-weight: bold;
}

#instructions {
	width: 200px;
	padding: 15px;
	border: 1px solid black;
	background-color: #eee;
}
